<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>680243304876-odma9urvk4htr1o1rh9dl04qdohgu4oj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680243304876-odma9urvk4htr1o1rh9dl04qdohgu4oj</string>
	<key>API_KEY</key>
	<string>AIzaSyBbXAZTfGZ3S7THPUKCdDfuzRQQXIvRML0</string>
	<key>GCM_SENDER_ID</key>
	<string>680243304876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kev.mudy.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-d9b24</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-d9b24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680243304876:ios:35f24d05726858f6</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-clone-d9b24.firebaseio.com</string>
</dict>
</plist>